{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    <div class="container">
        <div class="row text-center">
            {% for item in spisok %}
            {% if loop.index0 % 3 == 0 %}
                </div>
                <div class="row my-5 text-center">
            {% endif %}
            <div class="col-md-4">
                <input style="background-image: url(../../{{item}});
                              border: 1px solid green;
                              color: var(--color2);
                              width: 200px;
                              height: 200px;
                              padding: 0px 0px;
                              text-align: right;
                              cursor: pointer;
                              border-radius: 50%;
                              font-size: 0.01px;" type="submit" name="btn" value="{{val}}" readonly></div>

            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
