<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontello.css">
  <link rel="stylesheet" href="css/style.css">
  <title>HealthyStore</title>
</head>

<body>
  <!-- Шапка -->
  <header>
    <div class="btn-group right">
      <div class="'text-center name"><h1 class="text-center color3 name">HealthyStore</h1></div>
      <button class="favourite"></button>
      <button class="basket"></button>
      <button class="profile"></button>
    </div>
  </header>
  <footer></footer>
  <header>
    <div></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-uppercase name color3">Маркетплейс экологически чистых продуктов HealthyStore</h1>
          </div>
        </div>
      </div>
  </header>

  <!-- Описание товара-->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="my-1 text-center text-uppercase color2 mb-5">Мясо</h1>
      </div>  
    <div class="row my-5">
      <div class="col-md-4">
        <img class="w-100" src="img/meats.jpg" title="Мясо">
      </div>  
      <div class="col-md-8">
        <h2 class="text-center">Описание</h2>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum esse illo, quis fugiat quasi consequatur? 
            Ad impedit ducimus provident, amet perspiciatis ullam cupiditate nobis illum accusamus ex ea non dolorem, dicta sapiente consequatur?<h2>
      </div>
      <div class="row my-5">
        <div class="col-md-3">
          <button class="prod_btn"><img src="img/add_fav.png"></button>
        </div>  
        <div class="col-md-3">
            <button class="prod_btn"><img src="img/add_cor.png"></button>
        </div>
    </div>
  </div>
